body{
    margin:0px;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mycanvas{
    display: block;
    cursor:crosshair;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#minibar{
    position:fixed;
    background-color: rgb(43, 43, 43);
    color:white;
    font-size:1.4em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    margin: 0;
    top:0;
    display: none;
}    
    
#minibar > ul{
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5em;
    }

li{
    padding:0.5em;
}
   

#pick{
    padding:0;
    margin:0;
    height: 30px;
    width: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

/*--------------------------------- Loader ------------------------------*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(43, 43, 43);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
