body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

#mycanvas{
    display: block;
    cursor:crosshair;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#minibar{
    position:fixed;
    background-color: rgb(43, 43, 43);
    color:white;
    font-size:1.7em;
    height:100%;
    width:99px;
    margin: 0;
    display: none;
    padding: 0.5em 0em 1em 0em;
}    
    
#minibar > ul{
    list-style-type: none;
    margin:0;
    padding:0;
    }

li{
    text-align:center;
    padding:0.3em;
    position: relative;
    margin:auto 0.4em;
    display:block;
    cursor: pointer;    transition:0.3s;

}
span{
    transition:0.3s;
}

span:hover{
    transform: scale(1.1);
}
li:hover{
    transform: scale(1.1);
}

p{
    font-size:0.35em;
}
.prev-page,.next-page{
    display:inline-block;
}

.page{
    position: fixed;
    z-index:2;
    color:rgb(255, 255, 255);
    right:0;
    bottom:0;
    padding:0.5em;
    margin:1em;
    background-color: rgb(43, 43, 43);
    opacity: 0.7;
    transition:0.5s;
    display: none;
}

.page:hover{
    opacity:1;
    transform: scale(1.2);
}

#pick{
    padding:0;
    margin:0;
    height: 30px;
    width: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.drop-item {
    color: black;
    font-size:0.8em;
    padding: 5px 10px;
    text-decoration: none;

}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*--------------------------------- Loader ------------------------------*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(43, 43, 43);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
/*color picker modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
}


.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -moz-transition: 0.2s;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:10px 4px;
}

.slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%; 
    background: rgb(43, 43, 43);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%; 
    background: rgb(43, 43, 43);
    cursor: pointer;
}