html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-color: #282828;
}

#mycanvas{
    display: block;
    cursor:crosshair;
    margin-left: 70px;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#minibar{
    position:fixed;
    background-color: #333333;
    color: #F0F0F0;
    font-size: 0.62em;
    width: 70px;
    display: none;
    padding: 1em 0;
}
 
#minibar > ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
   
#minibar li{
    text-align: center;
    padding: 1.5em 0.5em;
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

#minibar i{
    font-size: 2.2em;
    margin-bottom: 0.25em;
    display: block;
}

#minibar li:hover {
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.page{
    position: fixed;
    z-index:2;
    color:rgb(255, 255, 255);
    right:0;
    bottom:0;
    padding:0.5em;
    margin:1em;
    background-color: #333333;
    opacity: 0.5;
    transition:0.5s;
    display: none;
}

.page:hover{
    opacity:1;
    transform: scale(1.15);
}

#pick{
    padding:0;
    margin:0;
    height: 30px;
    width: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

.is-active{
    color: #333333;
    background-color: white;
}
/*--------------------------------- Loader ------------------------------*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(43, 43, 43);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
/*-------------------------- color picker modal -----------------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 430px; 
}

.color-box {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 0.1em;
}

/*----------------------------- Range Slider ------------------------------------*/
.slider {
    width: 90%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -moz-transition: 0.2s;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:10px 4px;
}

.slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%; 
    background: rgb(43, 43, 43);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%; 
    background: rgb(43, 43, 43);
    cursor: pointer;
}