body{
    margin:0px;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mycanvas{
    display: block;
    cursor:crosshair;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#minibar{
    position:fixed;
    background-color: rgb(43, 43, 43);
    color:white;
    font-size:1.4em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    margin: 0;
    top:0;
}    
    
#minibar > ul{
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5em;
    }

li{
    padding:0.5em;
}
   

#pick{
    padding:0;
    margin:0;
    height: 30px;
    width: 30px;
}